/* Réinitialisation de la mise en page de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cdf; /* Fond de la page */
    color: #333; /* Couleur du texte par défaut */
}

/* Style pour le thème clair */
.light-theme {
    background: #f7f7f7; /* Fond blanc */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 5px 15px rgba(0, 0, 0, 0.05); /* Ombre légère */
    border-radius: 10px; /* Coins arrondis */
}

/* Conteneur principal pour le contact */
.contact-container {
    max-width: 300px; /* Largeur maximale */
    margin: 50px auto; /* Centrer le conteneur */
    overflow: hidden; /* Masquer le dépassement */
    position: relative;
}

/* Section du profil utilisateur */
.profile {
    text-align: center; /* Centrer le texte */
    padding: 20px; /* Espace intérieur */
}

/* Image de profil */
.profile img {
    width: 100px; /* Taille de l'image */
    height: 100px;
    border-radius: 50%; /* Coins arrondis pour un aspect circulaire */
    margin-bottom: 10px; /* Espace en bas de l'image */
}

/* Informations du groupe */
.user-info {
    margin-bottom: 10px; /* Espace en bas des informations */
}

/* Nom du groupe */
.name {
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Gras */
}

/* Nombre de membres du groupe */
.number {
    font-size: 14px; /* Taille du texte */
    color: #888; /* Couleur du texte grise */
}

/* Actions de l'utilisateur (Audio, Video, Recherche) */
.actions {
    display: flex; /* Disposition en ligne pour les boutons */
    justify-content: space-around; /* Espacement équitable des boutons */
    margin-top: 20px; /* Espace en haut des boutons */
}

/* Style des boutons d'action */
.actions button {
    padding: 10px; /* Espace interne du bouton */
    font-size: 14px; /* Taille du texte du bouton */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 5px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur au survol */
}

/* Section des groupes en commun */
.groups {
    padding: 20px; /* Espace interne */
}

/* Titre de la section des groupes */
.groups h2 {
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Gras */
    color: #333; /* Couleur du texte */
}

/* Liste des groupes avec interaction au survol */
       /* Style CSS pour la liste des membres */
.member-list {
    list-style-type: none;
    padding: 10px;
    
    margin-top: 10px;
}
.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
    border-radius: 8px; /* Arrondi des coins */
    border: 1px solid #ddd; /* Bordure */
}

.member-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.member-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.member-name {
    font-weight: bold;
    margin: 0;
}

.member-type {
    margin: 0;
    color: #888;
    order: 1;
   
}

.member-info a {
    color: #777;
    order: 2;
}

.member-info a:hover {
    color: #25d366;
}
/* Style des éléments de la liste des groupes */

/* Style au survol des éléments de la liste des groupes */
.member-list li:hover {
    color: #25d366; /* Changement de couleur au survol */
}
.create-group-btn1 {
    text-decoration: none;
    display: block; /* Affichage en tant que bloc */
    width: 100%; /* Largeur maximale */
    padding: 10px; /* Espace interne du bouton */
    background-color: #45a049; /* Couleur de fond verte */
    color: #fff; /* Couleur du texte blanc */
    font-size: 14px; /* Taille du texte du bouton */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 5px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur au survol */
}

/* Bouton pour ajouter des membres au groupe */
.create-group-btn {
    text-decoration: none;
    display: block; /* Affichage en tant que bloc */
    width: 100%; /* Largeur maximale */
    padding: 10px; /* Espace interne du bouton */
    background-color: #f84c4c; /* Couleur de fond verte */
    color: #fff; /* Couleur du texte blanc */
    font-size: 14px; /* Taille du texte du bouton */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 5px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur au survol */
}

/* Style au survol du bouton pour ajouter des membres au groupe */
.create-group-btn:hover {
    background-color: #45a049; /* Changement de couleur au survol */
    transition: background-color 0.3s ease; /* Transition de couleur en 0.3 secondes */
}
.left-arrow-alt{
    font-size: 30px; 
    color: black; 
    padding: 100px; 
    margin-top: -5%; 
    position: absolute;
}
